:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}
 
.Counter,
.Timer {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid black;
  background: cornflowerblue;
  border-radius: 5px;
}
 
.Timer {
  background-color: azure;
}
 
nav {
  background: #cec8db;
  color: white;
  padding: 10px;
  box-shadow: 0px 1px 2px gray;
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}
 
button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 10px;
  font-size: 18px;
}
 
 
.list > li,
.list > p,
.list > div {
  margin: 10px;
}
 
.logo,
img {
  width: 200px;
}
 
.search-bar {
  padding: 20px;
}
 
.search-bar input {
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid gray;
}
 
.card {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #cfb2d6;
  border-radius: 4px;
}
 
.logo,
img {
  width: 200px;
}


.dog-edit-card,
  label {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.back-image {

  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
 }


.dog-edit-card,
input {
  padding: 10px;
  display: inline-block;
  margin: 2px 0 10px;
}

.dog-edit-card,
input[type="text"] {
  padding: 10x;
  display: inline-block;
  margin: 2px 0 10px;
  text-align: center;
}

.dog-edit-card,
input[type="file"] {
  padding: 15px;
  display: inline-block;
  margin: 2px 0 10px;
  text-align: center;
}

.dog-edit-card,
textarea {
  padding: 15px;
  display: inline-block;
  margin: 2px 0 10px;
  text-align: center;
}

.dog-edit-card,
 button[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 3px;
}


.adpot-form {
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

.adopt-image {

width: 200%;
height: 100vh;
background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
background-position: center;
background-size: cover;
}
